{% extends 'base.html' %}

{% load static %}
{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/success1.css'%}">
{% endblock%}

{%block onload%}
onload="dowloadPic()"
{%endblock%}


{% block content %}

<div class="container" style="margin-top: 85px;">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
	  <strong>Congratulation!</strong> Your Flight Ticket is booked.
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>
	
	<div class="container main-content">
		<div class="headerpic">
		<div class="ticketLogo">
			<img src="{% static 'images/globe.svg'%}"><span>TripSkip</span>
		</div>
		<div class="ticketId">
			<p>Booking ID</p>
			<h5>{{userPaidDet.payment_id}}</h5>
		</div>
		<div class="tickethelp">
			<p>24x7 Flights Helpline</p>
			<h5>0120 4880880</h5>
		</div>
		</div>
		<div class="textbody">
			<h4>Hi {{request.user.first_name}} {{request.user.last_name}},</h4>
			<p>Your flight booking is confirmed. Here are the trip and PNR details. Please find your ticket attached with the email.</p>
		</div>
		<div class="ticketbody" id="ticketbody">
			<div class="ticketbody-top">
				<p class="pleft">Onward</p>
				<p class="pright">PNR XSRCVZ</p>
			</div>
			<div class="ticketbody-middle" style="min-height: 300px;">
				<div class="flightImage">
					{% if flightDet.fligthname == 'SpiceJet' %}
					<img src="{{flightDet.image.url}}" style="width: 11%;">
					{% elif flightDet.fligthname == 'GoAir' %}
					<img src="{{flightDet.image.url}}" style="width: 10%;">
					{% else %}
					<img src="{{flightDet.image.url}}">
					{% endif %}
					<p>{{flightDet.fligthname}} {{userPaidDet.FlightNum}}</p>
				</div>
				<div class="flightdep">
					<h3>{{deptPlace.airportcode}} {{userPaidDet.DepartureTime}}</h3>
					<h4>{{userPaidDet.FlightDate}}</h4>
					<h5>{{userPaidDet.DeparturePlace}}, {{deptPlace.airport}}</h5>
				</div>
				<div class="duration">
					<h5>2h 40m</h5>
					<h5><i class="far fa-clock"></i></h5>
				</div>
				<div class="flightarr">
					<h3>{{userPaidDet.ArrivalTime}} {{arrPlace.airportcode}}</h3>
					<h4>{{userPaidDet.FlightDate}}</h4>
					<h5>{{userPaidDet.ArrivalPlace}}, {{arrPlace.airport}}</h5>
				</div>
			</div>
			<div class="ticketbody-low" style="min-height: 180px;">
				<div class="trav">
					<h4>Traveller</h4>
					<h5 id="namesT"></h5>
				</div>
				<div class="ticketno">
					<h4>Ticket No.</h4>
					<h5>XSRCVZ</h5>
				</div>
			</div>
		</div>
		<div class="textbody2">
			<p>Important</p>
			<ul>
				<li>Please carry your Govt. ID proof for all passengers to show during security check and check-in. Name on Govt. ID proof should be same as on your ticket.</li>
				<li>We recommended you to reach airport 2 hrs before departure time. Airline check-in counters typically close 1 hr prior to departure time.</li>
			</ul>
		</div>
	</div>

</div>
<button id="preview" style="margin-left: 45%;">Download</button>

{%endblock%}

{% block js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
<script>
	window.onload = function () {
		document.getElementById('preview')
		.addEventListener('click', () =>{
			const invoice = this.document.getElementById('ticketbody');
			console.log(invoice)
			console.log(window)
			var opt = {
				margin: 0,
				filename: 'myfile.pdf',
				image: {type: 'jpeg', quality: 0.98},
				html2canvas: {scale: 2},
				jsPDF: {unit: 'in', format: 'letter', orientatation: 'potrait'}
			};
			html2pdf().from(invoice).set(opt).save();
		})
	}




</script>
<script type="text/javascript">
	nameStr = '{{userPaidDet.AdultName}}'
	newNamet = ''
	for (ltr in nameStr){
		if (nameStr[ltr] != ',') {
			newNamet = newNamet + nameStr[ltr];
		}else if (nameStr[ltr] == ',') {
			newNamet = newNamet + '<br>';
		}
	}
	childStr = '{{userPaidDet.ChildName}}'
	if (childStr != '') {
		for (ltr in childStr){
		if (childStr[ltr] != ',') {
			newNamet = newNamet + childStr[ltr];
		}else if (childStr[ltr] == ',') {
			newNamet = newNamet + '<br>';
		}
	}
	}
	
	infantStr = '{{userPaidDet.InfantName}}'
	if (infantStr != '') {
		for (ltr in infantStr){
		if (infantStr[ltr] != ',') {
			newNamet = newNamet + infantStr[ltr];
		}else if (infantStr[ltr] == ',') {
			newNamet = newNamet + '<br>';
		}
	}
	}
	document.getElementById('namesT').innerHTML = newNamet;
</script>

{% endblock %}