body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #eeeef0;
}
nav{
	width: 100%;
	min-height: 85px;
	background-color: #f6fafa;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.logo{
	width: 30%;
	min-height: 60px;
	float: left;
	margin-top: 10px;
}
.logo img{
	float: left;
	width: 20%;
	height: 55px;
}
.logo span{
	float: left;
	font-size: 25px;
	margin-top: 10px;
	margin-left: -10px;
	color: #5f74f9;
	font-weight: bold;
}
.menu{
	width: 50%;
	min-height: 60px;
	float: right;
	margin-top: 15px;
}
.menu ul{
	float: right;
	margin-top: 10px;
}
.menu .Nav-li{
	display: inline-block;
}
.menu .Nav-li-a{
	font-size: 20px;
	margin-right: 35px;
	color: #5ea2f9;
	text-decoration: none;
	transition: all 0.2s;
}
.menu .Nav-li-user{
	font-size: 20px;
	margin-right: 35px;
	color: #5ea2f9;
	text-decoration: none;
	transition: all 0.2s;
}
.menu .Nav-li-a.active{
	color: #5f74f9;
	border-bottom: 2px solid #5f74f9;
	padding-bottom: 15px;
}
.menu .Nav-li-a:hover{
	color: #5f74f9;
	border-bottom: 2px solid #5f74f9;
	padding-bottom: 15px;
}

/*nav ends */

.search-box{
	min-height: 170px;
	background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
	margin-top: 85px;
	padding: 0;
}

.radio-section{
	width: 100%;
	min-height: 50px;
}

.radio-label{
  color: #5f74f9;
  font-size: 20px;
  margin-left: 15px;
  margin-top: 10px;
}
.radio-section input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 15px;
  height: 15px;
  /* background-color only for content */
  background-clip: content-box;
  border: 2px solid #5f74f9;
  background-color: #e7e6e7;
  border-radius: 50%;
  margin-left: 3%;
}

/* appearance for checked radiobutton */
.radio-section input[type="radio"]:checked {
  background-color: #5f74f9;
}

.search-element{
	float: left;
	width: 14%;
	margin-left: 1%;
	margin-top: 1%;
}
.first-element{
	margin-left: 3%;
}
.dest{
	width: 100%;
	border:none;
	outline: none;
	border-bottom: 1px solid grey;
}
.fa-exchange-alt{
	color: #5f74f9;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
}
#Departure_Date_label, #Return_Date_label, #travelClassLabel, #fromlabel, #tolabel{
	color: #5f74f9;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 16px;
}
#Departure_Date, #Return_Date, #travelClass{
	outline: none;
	width: 100%;
	text-align: center;
	border:none;
	border-bottom: 1px solid grey;
	transition: all 1s;
}
#Departure_Date:hover, #Return_Date:hover, #travelClass:hover{
	cursor: pointer;
}
.non-element{
	width: 3%;
	margin-top: 4%;
}

#submit{
	 width: 100%;
	 padding:1px;
	 margin-top: 43px;
	 background-color: #fff;
	 border:1px solid #5f74f9;
	 color: #5f74f9;
     transition: all 0.3s;
}
#submit:hover{
		  width: 100%;
		  color: white;
		  background-color: #5f74f9;
		  box-shadow: -2px 8px 22px 0 #5f74f9;
		  cursor: pointer;
		}


#travelClassEditor{
	width: 23%;
	min-height: 365px;
	background-color: #fff;
	box-shadow: -2px 8px 22px 0 #7e8a97;
	position: absolute;
	left: 67%;
	margin-top: 10px;
	z-index: 100;
	border-radius:10px;
	display: none;
}
.travelClassEditor p{
	margin-top: 10px;
	margin-left: 10px;
}
.travelClassEditor p label{
	font-size: 20px;
	margin-right: 20px;
	color: #5f74f9;
}
.minus,.add{
	margin-right: 20px;
	border-radius: 20px;
	background-color: #fff;
}
.AValue{
	color:#5f74f9;
	margin-right: 20px;
}
.AValueDetails{
	color: grey;
	font-size: 12px;
}
#travelClassRadio1,#travelClassRadio2,#travelClassRadio3{
	margin-left: 10px;
	font-size: 15px;
	margin-right: 5px;
}
.travelClassRadio-label{
	font-size: 15px;
	color: #5f74f9;
}
#done-btn{
	outline: none;
	border:1px solid #5f74f9;
	font-size: 20px;
	background-color: #fff;
	color: #5f74f9;
	margin-left:40%;
}


/*searchbox end */

.flightsearch{
	min-height: 550px;
	padding-top: 30px;
}
.flightsearch h3{
	font-weight: bolder;
	color: #5f74f9;
	margin-left: 10%;
	padding-bottom: 25px;
}
.flightresult-extra{
	width: 80%;
	min-height: 30px;
	margin: auto;
}
.flightresult{
	width: 80%;
	min-height: 90px;
	background-color: #fff;
	margin: auto;
	border:2px solid #7e8a97;
	border-radius: 15px;
	transition: all 1s;
	margin-top: 15px;
}
.flightresult:hover{
	border:none;
	box-shadow: -2px 8px 22px 0 #7e8a97;
	cursor: pointer;
}

.result-element{
	float: left;
	width: 11%;
}
.f-element{
	width: 17%;
	margin-left: 4%;
}
.s-element{
	margin-left: 12%;
}

.logo-thumb{
	width: 50%;
	margin-left: 15%;
	margin-top: 15px;
}

.flightname{
	font-size: 20px;
	margin-top: 10%;
}

.flightnum{
	font-size: 10px;
	margin-top: 15%;
}

.flighttime{
	font-size: 20px;
	margin-top: 10%;
}
.flightdest{
	margin-top: -10%;
}
.dash{
	font-size: 45px;
}
.duration{
	font-size: 20px;
	margin-top: 10%;
}
.price{
	font-size: 20px;
	margin-top: 10%;
}
.book-btn{
	font-size: 20px;
	background-color: #fff;
	color: #5f74f9;
	transition: all 0.3s;
	text-decoration: none;
	display: inline-block;
	margin-top: 10%;
	width: 85%;
	text-align: center;
	padding: 1px;
}
.book-btn:hover{
	background-color: #5f74f9;
	color: #fff;
	text-decoration: none;
}

/* flight search end */


footer{
	width: 100%;
	min-height: 120px;
	background-color: #f6fafa;
	margin-top: 50px;
}
.logo-footer{
	width: 30%;
	min-height: 60px;
	float: left;
	margin-top: 20px;
	margin-left: 100px;
}
.logo-footer img{
	float: left;
	width: 20%;
	height: 55px;
	margin-left: 25px;
}
.logo-footer span{
	float: left;
	font-size: 25px;
	margin-top: 10px;
	margin-left: -10px;
	color: #5f74f9;
	font-weight: bold;
}
.copy-footer{
	width: 30%;
	min-height: 60px;
	float: left;
	margin-top: 30px;
	font-size: 24px;
}
.social-footer{
	width: 30%;
	min-height: 60px;
	float: left;
	margin-top: 10px;
	text-align: center;
}
.social-footer h6{
	font-size: 20px;
	font-weight: bold;
	color: grey;
}
.fa-facebook,.fa-twitter,.fa-youtube,.fa-linkedin,.fa-instagram{
	border:1px solid grey;
	font-size: 40px;
	font-weight: bold;
	color: grey;
	transition: all 1s;
	padding: 10px;
	border-radius: 30px;
}
.fa-facebook:hover{
	color: #fff;
	border:1px solid #4267B2;
	background-color: #4267B2;
	transform: rotate(360deg);
}
.fa-twitter:hover{
	color: #fff;
	border:1px solid #00acee;
	background-color: #00acee;
	transform: rotate(360deg);
}
.fa-youtube:hover{
	color: #fff;
	border:1px solid #FF0000;
	background-color: #FF0000;
	transform: rotate(360deg);
}
.fa-linkedin:hover{
	color: #fff;
	border:1px solid #0e76a8;
	background-color: #0e76a8;
	transform: rotate(360deg);
}
.fa-instagram:hover{
	color: #fff;
	border:1px solid #c13584;
	background-color: #c13584;
	transform: rotate(360deg);
}